In [2]:
import pandas as pd

In [3]:
cast = pd.read_csv(r"C:\Users\gc531\Downloads\cast.csv")

In [4]:
cast

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27.0
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3.0
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN
...,...,...,...,...,...,...
3311642,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3311643,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3311644,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3311645,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3311646,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

# Q1) How many movies are listed in the titles dataframe?

In [15]:
cast.title.nunique()

159488

# Q2) What are the earliest two films listed in the titles dataframe?

In [31]:
cast.groupby("year").title.value_counts().head(2)

year  title
1894  Miss Jerry                  3
1899  Jeffries-Sharkey Contest    4
Name: title, dtype: int64

# Q3) How many movies have the title "Hamlet"?

In [36]:
cast[cast.title == "Hamlet"].title.count()

299

# Q4) How many movies are titled "North by Northwest"?

In [41]:
cast[cast.title == "North by Northwest"].title.count()

111

# Q5) When was the first movie titled "Hamlet" made?

In [5]:
cast[cast.title == "Hamlet"].groupby("year").title.value_counts().head(1)

title  Hamlet
year
1910        1

# Q6) List all of the "Treasure Island" movies from earliest to most recent.

In [9]:
#for Partially match
df = cast[cast["title"].str.contains("Treasure Island")]
df

,title,year,name,type,character,n
8507,Treasure Island,1934,Robert Adair,actor,Tom - Seaman,NaN
10413,Treasure Island Kids: The Mystery of Treasure ...,2006,Keith (VIII) Adams,actor,Scientist #1,NaN
11295,The Secret of Treasure Island,1938,Ted Adams,actor,Moore,NaN
12067,Treasure Island,1950,Chris Adcock,actor,Pike,26.0
14811,Treasure Island,1985,Yves Afonso,actor,French captain,8.0
...,...,...,...,...,...,...
3287038,Treasure Island Kids: The Battle of Treasure I...,2006,Devon Wood,actress,Barbara,NaN
3287039,Treasure Island Kids: The Monster of Treasure ...,2006,Devon Wood,actress,Barbara,13.0
3287040,Treasure Island Kids: The Mystery of Treasure ...,2006,Devon Wood,actress,Barbara,NaN
3290969,Muppet Treasure Island,1996,Sarah (XII) Wright,actress,Additional Muppet Performer,67.0
3299485,The Secret of Treasure Island,1938,Clara Kimball Young,actress,Cortez Hotel Maid,NaN

In [54]:
cast[cast.title == "Treasure Island"].groupby("year").title.value_counts()

year  title
1918  Treasure Island    13
1920  Treasure Island    12
1934  Treasure Island    55
1950  Treasure Island    34
1972  Treasure Island    25
1973  Treasure Island     9
1985  Treasure Island    15
1999  Treasure Island    24
Name: title, dtype: int64

# Q7 How many movies were made in the year 1950?

In [67]:
cast[cast.year == 1950].title.value_counts().count()

877

# Q8 How many movies were made in the year 1960?

In [68]:
cast[cast.year == 1960].title.value_counts().count()

1034

# Q9 How many movies were made from 1950 through 1959?

In [11]:
cast[(cast.year >= 1950) & (cast.year <= 1959)].groupby("year").title.value_counts().count()

9717

# Q10 In what years has a movie titled "Batman" been released?

In [85]:
cast[cast.title == "Batman"].groupby("year").title.value_counts()

year  title
1943  Batman    52
1989  Batman    66
Name: title, dtype: int64

# Q11 How many roles were there in the movie "Inception"?

In [100]:
cast[cast.title == "Inception"].character.nunique()

51

# Q12 How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [16]:
len(cast[(cast.title == "Inception") & (cast.n.isnull()) ])

21

# Q13 But how many roles in the movie "Inception" did receive an "n" value?

In [145]:
cast[(cast.title == "Inception") & (cast.n.notnull()) ].n.count()

51

# Q14 Display the cast of "North by Northwest" in their correct "n" -value order, ignoring roles that did not earn a numeric "n" value.

In [146]:
cast[(cast.title == "North by Northwest") & (cast.n.notnull())].sort_values(by = "n")

,title,year,name,type,character,n
773496,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3084579,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1292652,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2776446,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
315343,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2685171,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1504777,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1130557,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2167754,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1607029,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
590702,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2033529,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
411247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1339004,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
180985,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1228229,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

# Q15 Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [130]:
cast[(cast.title == "Sleuth") & (cast.year == 1972)].sort_values(by = "n")

,title,year,name,type,character,n
1513570,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
288502,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
330750,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1299944,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2406762,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1285278,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

# Q16 Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [132]:
cast[(cast.title == "Sleuth") & (cast.year == 2007)].sort_values(by = "n")

          title  year                 name     type          character    n
288503   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1147041  Sleuth  2007             Jude Law    actor               Milo  2.0
1602268  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
228757   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
330751   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2406761  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2958823  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

# Q17 How many roles were credited in the silent 1921 version of Hamlet?

In [17]:
cast[(cast.title == "Hamlet") & (cast.year == 1921)].character.nunique()

9

# Q18 How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [26]:
cast[(cast.title == "Hamlet") & (cast.year == 1996) & (cast.name.str.contains("Branagh"))].character.nunique()

1

# Q19 How many "Hamlet" roles have been listed in all film credits through history?

In [164]:
cast[(cast.character == "Hamlet")].title.nunique()

62

# Q20 How many people have played an "Ophelia"?

In [165]:
cast[(cast.character == "Ophelia")].name.nunique()

94

# Q21 How many people have played a role called "The Dude"?

In [9]:
cast[(cast.character == "The Dude")].name.nunique()

16

# Q22 How many people have played a role called "The Stranger"?

In [10]:
cast[(cast.character == "The Stranger")].name.nunique()

184

# Q23 How many roles has Sidney Poitier played throughout his career?

In [12]:
cast[(cast.name == "Sidney Poitier")].character.nunique()

41

# Q24 How many roles has Judi Dench played?

In [13]:
cast[(cast.name == "Judi Dench")].character.nunique()

44

# Q25 List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [31]:
#cast[(cast.name == "Cary Grant") & (cast.n == 2) & (cast.year => 1940) & (cast.year =< 1940)].character.unique()
cast[(cast.name == "Cary Grant") & (cast.year >= 1940) & (cast.year <= 1949) & (cast.n == 2)].sort_values(by ='year')

                   title  year        name   type    character    n
773493  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
773503    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

# Q26 List the leading roles that Cary Grant played in the 1940s in order by year?

In [40]:
cast[(cast.name == "Cary Grant") & (cast.n == 1) & (cast.year <= 1949) & (cast.year >= 1940)].sort_values(by = "year")

,title,year,name,type,character,n
773518,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
773475,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
773520,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
773508,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
773522,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
773499,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
773466,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
773491,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
773492,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
773500,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
773458,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
773495,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
773494,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
773497,Notorious,1946,Cary Grant,actor,Devlin,1.0
773514,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1.0
773515,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
773490,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
773470,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
773479,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

# Q27 How many roles were available for actors in the 1950s?

In [52]:
cast[(cast.type == "actor") & (cast.year >= 1950) & (cast.year <= 1959)].character.nunique()

88802

# Q28 How many roles were available for actresses in the 1950s?

In [54]:
cast[(cast.type == "actress") & (cast.year >= 1950) & (cast.year <= 1959)].character.nunique()

34206

# Q29 How many leading roles (n=1) were available from the beginning of film history through 1980?

In [55]:
cast[(cast.year<=1980)&(cast.n==1)]

,title,year,name,type,character,n
237,En glad gutt,1932,Hauk Aabel,actor,Ola Nordistua,1.0
913,Batman Fights Dracula,1967,Jing Abalos,actor,Batman,1.0
914,Batman Fights Dracula,1967,Jing Abalos,actor,Bruce Wayne,1.0
918,Mighty Rock,1969,Jing Abalos,actor,Mighty Rock,1.0
986,"Ar Daijero, Rom agar var",1975,Dodo Abashidze,actor,Mikho,1.0
...,...,...,...,...,...,...
3311057,Sekkusu chekku: Daini no sei,1968,Michiyo ?kusu,actress,Hiroko Nagumo,1.0
3311063,Zoku hiroku onna ro,1968,Michiyo ?kusu,actress,Onami,1.0
3311151,Ah! Nomugi toge,1979,Shinobu ?take,actress,Mine Masai,1.0
3311254,Kvinnolek,1968,Gunbritt ?hrstr?m,actress,"Lisa Holmberg, fashion designer",1.0
3311294,Tamam mi devam mi?,1975,F?sun ?nal,actress,F?sun,1.0

# Q30 How many non-leading roles were available through from the beginning of film history through 1980?

In [56]:
cast[(cast.year<=1980)&(cast.n!=1)].character.nunique()

537870

# Q31 How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [58]:
cast[(cast.year<=1980)&(cast.n.isnull())].character.nunique()

177287